[submodule "Crear-una-lista-donde-3-o-e-5-sean-variables-categoricas"]
	path = Crear-una-lista-donde-3-o-e-5-sean-variables-categoricas
	url = https://github.com/Adrianapachecor/Crear-una-lista-donde-3-o-e-5-sean-variables-categoricas.git
